@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    display: grid;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
a:link {
    color: #2E2E2E;
    text-decoration: none;
}

a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

a:hover {
    color: #072bff;
    text-decoration: none;
}

a:active {
    color: #072bff;
    text-decoration: none;
}
#logo {
    margin-left: 61px;
    height: 60px;
    width: 127px;
    background-image: url("image/logo.png");
}

li {
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 20px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 1rem;
    z-index: 10;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 30px 5px #D7D4D4;
}
.nav li {
    height: 40px;
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    margin-top: 30px;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 20px;
} 
.main{
    height: 720px;
    width: 1740px;
    align-items: center;
    font-family: "RIDIBatang";
}
.content {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 170px;
    left: 50%;
    margin-left: -350px;
}
.content h3 {
    font-size: 50px;
    text-align: center;
    font-family: 'InfinitySans-BoldA1';
    color: #072bff;
}
.about {
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}
.about h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
.about h2 {
    font-size: 20px;
    line-height: 30px;
}
